body{
    background-color: black;
}
#calculator{
    background-color: rgb(173, 216, 230);
    border:10px white solid;

    width: 420px;
    height:400px;
    border-top-right-radius: 30px;
    padding-left: 10vh;
}
h1{
    font-family: Cursive;
    margin-bottom: -10px;
    color: gold;
    margin: auto;
    
}
#answer{
    width: 322px;
    height: 50px;
    font-size: 40px;
    background-color: white;
}
input{
    margin-top: 10px;
}
.front{
    width: 122px;
    font-size: 30px;
}
.middle{
    width: 80px;
    font-size: 30px;
}
.last{
    width: 164.5px;
    font-size: 30px;
}
#ac{
    background-color: red;
}
#back{
    background-color: black;
    color: white;
}
#one,#two,#three,#four,#five,#six,#sev,#eig,#nine,#zero{
    background-color: white;
    color: black;
}
#div,#mul,#sub,#add,#equal{
    background-color: orange;
}